a {
    text-decoration: none;
}
.okay {
    height: 100vh;
}
.okay2 {
    height: 65vh;
}
.cursor {
    cursor: pointer;
}
.pic {
    margin-left: 75px;
    height: 350px;
}
.marginleft {
    margin-left: 76px;
}