a {
    text-decoration: none;
}
.okay {
    height: 100vh;
}
.okay2 {
    height: 65vh;
}
.cursor {
    cursor: pointer;
}
.pic {
    margin-left: 75px;
    height: 350px;
}
.marginleft {
    margin-left: 76px;
}
.backimage {
    background-image: url('./Assets/Blog-Cover.gif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 90.6vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.backimage h1,.navbar-brand {
    font-family: "New Amsterdam", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.resize {
    resize: none;
}