a {
    text-decoration: none;
}
.okay {
    height: 100vh;
}
.okay2 {
    height: 65vh;
}
.cursor {
    cursor: pointer;
}
.pic {
    margin-left: 75px;
    height: 350px;
}
.marginleft {
    margin-left: 76px;
}
.backimage {
    background-image: url('./Assets/Images/art-3561710_640.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90.3vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.backimage h1 {
    font-family: "Matemasie", sans-serif;
    font-weight: 400;
    font-style: normal;
}